{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "rollup": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["transform-class-properties"]
    }
  }
}
