{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
